name: bundle

on:
  push:
    branches:
    - '*'
    paths-ignore:
    - 'output/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up git
      run: |
        git config user.name "Bundler"
        git config user.email "<>"
    - name: Set up Node
      uses: actions/setup-node@v6
    - name: Bundle and upload
      run: |
        node bundleApps.js
        node bundleStartupFiles.js
        git add .
        git commit . -m "Bundle apps and startup files"
        git status
        git push