name: api

on:
  push:
    branches:
    - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v6
    - name: Bundle
      run: node bundle.js
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: apps
        path: apps.json