name: api

on:
  push:
    branches:
    - '*'
    paths-ignore:
    - 'output/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up git
      run: |
        git config user.name "App Bot"
        git config user.email "<>"
    - name: Set up Node
      uses: actions/setup-node@v6
    - name: Bundle and upload
      run: |
        node bundle.js
        git commit . -m "Auto-bundle"
        git status
        git push